body {
  font-family: Montserrat, sans-serif;
}

.home-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  flex-direction: column;
  gap: 2rem;
}

.status-screen {
  background: white;
	position: relative;
	height: 150px;
	width: 460px;
  padding: 20px;
  color: black;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  gap: 1rem;
}

.date-container {
  width: 90px;
  height: 100px;
  padding: 10px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.date-container h1 {
  font-size: 3rem;
  color: white;
}

.date-container p {
  color: white;
}

.calendar-container {
  background: white;
	position: relative;
	height: 400px;
	width: 460px;
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}

.great {
  background: #15B892;
}

.good {
  background: #85C428;
}

.meh {
  background: #50ABCE;
}

.bad {
  background: #F8922F;
}

.awful {
  background: #F2223B;
}
