.mood-question-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
  border: tomato solid 1px;

  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.mood-screen-default {
  background: white;
	position: relative;
	height: 600px;
	width: 360px;
  padding: 20px;
  color: black;
	box-shadow: 0px 0px 24px #000000;
}

.mood-screen-great {
  background: white;
	position: relative;
	height: 600px;
	width: 360px;
  padding: 20px;
  color: black;
  box-shadow: 0px 0px 24px #15B892;
}

.mood-screen-good {
  background: white;
	position: relative;
	height: 600px;
	width: 360px;
  padding: 20px;
  color: black;
  box-shadow: 0px 0px 24px #85C428;
}

.mood-screen-meh {
  background: white;
	position: relative;
	height: 600px;
	width: 360px;
  padding: 20px;
  color: black;
  box-shadow: 0px 0px 24px #50ABCE;
}

.mood-screen-bad {
  background: white;
	position: relative;
	height: 600px;
	width: 360px;
  padding: 20px;
  color: black;
  box-shadow: 0px 0px 24px #F8922F;
}

.mood-screen-awful {
  background: white;
	position: relative;
	height: 600px;
	width: 360px;
  padding: 20px;
  color: black;
  box-shadow: 0px 0px 24px #F2223B;
}

.mood-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mood-button {
  display: flex;
  align-items: center;
	justify-content: left;
}

.mood-question-icon {
  display: flex;
  align-items: center;
}

.mood-question-icon :hover {
  cursor: pointer;
}

.mood-submit-button input {
  background-color: #2f80ed;
  appearance: none;
  backface-visibility: hidden;
  border-radius: 10px;
  border-style: none;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 14px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.mood-submit-button input:hover {
  background-color: #1366d6;
  box-shadow: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.mood-submit-button input:hover:after {
  opacity: .5;
}

.mood-submit-button input:active {
  box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
  transform: translateY(2px);
  transition-duration: .35s;
}

.mood-submit-button input:active:after {
  opacity: 1;
}


#button-65-awful{
  background-color: #F2223B;
}
#button-65-awful:hover{
  background-color: #c51d30;
  transition-duration: .7s;
}

#button-65-bad{
  background-color: #F8922F;
}
#button-65-bad:hover{
  background-color: #df842a;
  transition-duration: .7s;
}

#button-65-meh{
  background-color: #50ABCE;
}
#button-65-meh:hover{
  background-color: #4595b4;
  transition-duration: .7s;
}

#button-65-good{
  background-color: #85C428;
}
#button-65-good:hover{
  background-color: #74aa22;
  transition-duration: .7s;
}

#button-65-great{
  background-color: #15B892;
}
#button-65-great:hover{
  background-color: #119e7d;
  transition-duration: .7s;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-12-12 17:13:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
